$site-padding: 8px;
$color-shadow: #6d6d6d;

$font-heading:  'B612 Mono', monospace;
$font-body: 'Cutive Mono', Monaco, monospace;
$font-player: 'VT323', monospace;

$breakpoint-mid: 480px;
$breakpoint-large: 800px;
