{{ $src := (.Params.podcast.mp3 | absURL) -}}
{{ if .Site.Params.Podcast.cdn -}}
{{ $src = add $.Site.Params.Podcast.cdn (.Params.podcast.mp3 | relURL) -}}
{{ end -}}
<div class="player">
    <audio preload="{{ .Site.Params.Podcast.preload | default "metadata" }}">
        <source src="{{ $src }}" type="audio/mpeg">
    </audio>
    <div class="player--status">
        <span class="player--currenttime">00:00</span>/<br><span class="player--duration">00:00</span>
    </div>
    <div class="player--controls">
        <div class="player--nowplaying">
            {{ with .Title }}{{ . }}{{ end }}
        </div>
        <button class="player--pause" title="Play/Pause">Play/Pause</button>
        <a href="{{ $src }}" download class="player--download" title="download">Download</a>
        <input type="range" class="player--volume" max="100" value="100" title="Volume">
        <input type="range" class="player--seek" value="0" title="Seek">
    </div>
</div>
